<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnError="true" testdox="true" bootstrap="vendor/autoload.php">
    <php>
        <env name="APP_ENV" value="test" force="true" />
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>